*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --color-primary: #2D3748;
  --main-bg: #1A202C;
  --color-secondary: #4A5568;
  --color-tertiary: #718096;
  --hr: #2C5282;
  --text-color: #E2E8F0;
}

body{
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

header{
  background: var(--color-secondary);

  padding: .5rem;
  text-align: center;

  h1{
    font-size: 2.5rem;
  }
}

hr{
  border-color: var(--hr);

  border: 1px solid var(--hr);
  border-radius: 8px;

  margin: 2rem 1rem;
}

main{
  background: var(--main-bg);
  padding: 4rem 0;

  h2{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }


  

  .container{
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background: var(--color-primary);
  }


  ul{
    list-style-type: none;
    li{
      margin: 1rem 0;

      .title{
        display: flex;
        gap: 1rem;
        align-items: center;
        
        
        .state{
          font-size: .8rem;
          padding: .3rem .75rem;
          border-radius: 999px;
          background: var(--color-tertiary);
        }
      }

    }
  }

}